* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  min-width: 250px;
  padding: 0 10px;
  color: white;
  background: rgb(125, 208, 208);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

header > nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  gap: 1rem;
  overflow: hidden;
}

header > nav > a {
  padding: 0px 10px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  flex-shrink: 1;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
